// reset

html {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    box-sizing: border-box;
    font-size: 62.5%;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

// custom_variables
$primary-clr: hsl(0, 0%, 96%);
$secondary-clr: hsl(180, 97%, 50%);
$ternary-clr: hsl(0, 0%, 90%);
$black: hsl(0, 5%, 12%);
$transition: transform var(--duration) ease-out 4ms;

// container

.container {
    background-color: $primary-clr;
    min-height: 100vh;
    overflow: hidden;
    z-index: 0;
    position: relative;
}

// msg

.msg {
    position: absolute;
    display: flex;
    justify-content: center;
    height: 14rem;
    width: 100%;
    background-image: linear-gradient(to right, $secondary-clr, $ternary-clr 45%);
    color: $primary-clr;
    border: 0.4rem solid $black;
    border-left: none;
    border-right: none;
    padding: 1.2rem 1.3rem;
    transition: $transition;

    p {
        font-size: 3.1rem;
        text-align: center;
        margin: auto 2rem;
        background-image: linear-gradient(to right, $black 35%, $secondary-clr);
        background-clip: text;
        -webkit-background-clip: text;
        color: transparent;
    }
}

// hidden

.hidden {
    transform: translateY(-100%);
    z-index: -99;
}

// translated

.translated {
    transform: translateY(0);
}

// showed

.showed {
    position: initial;
    z-index: 0;
}
